In [1]:
import pandas as pd
import numpy as np

In [3]:
with open('Stocks/a.us.txt') as f:
    lines = f.readlines()
    f.close()
lines

['Date,Open,High,Low,Close,Volume,OpenInt\n',
 '1999-11-18,30.713,33.754,27.002,29.702,66277506,0\n',
 '1999-11-19,28.986,29.027,26.872,27.257,16142920,0\n',
 '1999-11-22,27.886,29.702,27.044,29.702,6970266,0\n',
 '1999-11-23,28.688,29.446,27.002,27.002,6332082,0\n',
 '1999-11-24,27.083,28.309,27.002,27.717,5132147,0\n',
 '1999-11-26,27.594,28.012,27.509,27.807,1832635,0\n',
 '1999-11-29,27.676,28.65,27.38,28.432,4317826,0\n',
 '1999-11-30,28.35,28.986,27.634,28.48,4567146,0\n',
 '1999-12-01,28.48,29.324,28.273,28.986,3133746,0\n',
 '1999-12-02,29.532,30.375,29.155,29.786,3252997,0\n',
 '1999-12-03,30.336,30.842,29.909,30.039,3223074,0\n',
 '1999-12-06,30.547,31.348,30.505,30.883,2385046,0\n',
 '1999-12-07,30.883,31.052,29.909,30.547,2348161,0\n',
 '1999-12-08,30.547,30.795,30.249,30.505,2000481,0\n',
 '1999-12-09,30.547,31.012,30.547,30.924,2150096,0\n',
 '1999-12-10,30.842,31.012,30.209,30.209,1764043,0\n',
 '1999-12-13,30.713,31.221,29.958,30.713,4260349,0\n',
 '1999-12-14,30.635,30.635,28.391,29.027,2467856,0\n',
 '1999-12-15,28.35,28.561,27.676,28.142,3091820,0\n',
 '1999-12-16,28.35,31.896,28.35,31.896,2738063,0\n',
 '1999-12-17,31.308,31.808,30.674,31.012,3929255,0\n',
 '1999-12-20,31.221,31.687,31.134,31.646,1268225,0\n',
 '1999-12-21,31.517,31.517,31.052,31.47,2394232,0\n',
 '1999-12-22,31.47,32.104,31.261,32.104,2019439,0\n',
 '1999-12-23,32.065,33.754,32.025,33.582,2288310,0\n',
 '1999-12-27,33.712,35.906,33.455,35.648,2150692,0\n',
 '1999-12-28,36.62,41.514,36.412,41.514,3772374,0\n',
 '1999-12-29,42.528,53.369,42.487,48.602,11146026,0\n',
 '1999-12-30,51.302,54.003,50.122,53.497,7069075,0\n',
 '1999-12-31,53.666,53.966,51.473,52.188,2046399,0\n',
 '2000-01-03,53.161,53.286,45.483,48.602,4953196,0\n',
 '2000-01-04,45.984,46.495,43.708,44.89,5049339,0\n',
 '2000-01-05,44.722,44.89,40.71,42.109,6102164,0\n',
 '2000-01-06,41.596,41.854,39.232,40.502,2685624,0\n',
 '2000-01-07,39.869,44.512,39.826,43.878,2987826,0\n',
 '2000-01-10,46.577,46.997,45.604,46.536,2276607,0\n',
 '2000-01-11,46.536,46.536,44.849,45.902,1966701,0\n',
 '2000-01-12,45.902,45.902,43.243,44.972,1515174,0\n',
 '2000-01-13,46.157,47.125,44.553,45.646,1202005,0\n',
 '2000-01-14,45.226,46.833,45.226,46.157,1395477,0\n',
 '2000-01-18,46.322,49.198,45.984,48.264,2227130,0\n',
 '2000-01-19,48.602,48.602,47.125,47.252,2781469,0\n',
 '2000-01-20,47.76,47.846,45.563,45.984,2127733,0\n',
 '2000-01-21,46.659,46.833,44.849,46.41,2032774,0\n',
 '2000-01-24,46.241,48.475,45.902,46.241,2220909,0\n',
 '2000-01-25,46.41,46.997,44.849,45.694,1222598,0\n',
 '2000-01-26,45.861,46.746,45.821,46.111,1083348,0\n',
 '2000-01-27,47.171,47.59,45.399,46.199,920391,0\n',
 '2000-01-28,46.914,46.914,45.523,45.942,1705234,0\n',
 '2000-01-31,45.604,45.646,43.708,44.681,1102457,0\n',
 '2000-02-01,44.722,48.602,44.722,47.928,1488060,0\n',
 '2000-02-02,48.522,51.638,48.306,51.638,2061219,0\n',
 '2000-02-03,50.757,52.485,49.825,52.485,1885666,0\n',
 '2000-02-04,52.485,52.485,50.627,51.473,1214003,0\n',
 '2000-02-07,52.443,54.003,51.473,53.666,1350291,0\n',
 '2000-02-08,54.508,55.482,52.823,53.328,1239483,0\n',
 '2000-02-09,52.397,53.118,51.094,51.137,1253406,0\n',
 '2000-02-10,51.977,53.2,50.839,51.768,1130454,0\n',
 '2000-02-11,51.638,51.85,50.499,50.884,796545,0\n',
 '2000-02-14,50.799,51.937,50.499,51.599,887651,0\n',
 '2000-02-15,51.68,56.027,51.68,55.272,2137950,0\n',
 '2000-02-16,54.003,55.272,53.585,54.678,1909225,0\n',
 '2000-02-17,54.678,65.479,52.397,65.479,1001279,0\n',
 '2000-02-18,59.743,64.723,59.444,63.286,4302270,0\n',
 '2000-02-22,64.804,65.736,60.754,61.766,2360903,0\n',
 '2000-02-23,61.849,67.842,61.849,66.829,1790859,0\n',
 '2000-02-24,68.436,77.927,67.842,72.064,3132706,0\n',
 '2000-02-25,69.79,76.914,69.705,72.988,2170391,0\n',
 '2000-02-28,72.988,73.709,66.322,68.179,1775307,0\n',
 '2000-02-29,68.475,72.149,68.389,70.116,1015202,0\n',
 '2000-03-01,70.54,75.445,70.373,73.661,1099788,0\n',
 '2000-03-02,74.207,74.25,69.194,71.072,1259191,0\n',
 '2000-03-03,70.838,75.445,70.838,72.904,1288372,0\n',
 '2000-03-06,76.278,109.37,75.945,107.32,6033135,0\n',
 '2000-03-07,105.3,108.7,88.429,95.852,8170788,0\n',
 '2000-03-08,98.557,102.6,94.505,102.6,4189831,0\n',
 '2000-03-09,99.238,103.96,97.881,103.28,2664586,0\n',
 '2000-03-10,103.28,104.56,94.505,95.852,2627257,0\n',
 '2000-03-13,87.798,93.793,87.417,88.603,2783398,0\n',
 '2000-03-14,89.782,91.807,80.243,81.935,3733120,0\n',
 '2000-03-15,86.486,86.486,76.448,77.122,3227960,0\n',
 '2000-03-16,78.309,83.034,75.604,79.695,2934795,0\n',
 '2000-03-17,80.534,85.729,79.737,81.764,1657087,0\n',
 '2000-03-20,81.298,82.02,76.278,76.789,1505395,0\n',
 '2000-03-21,74.764,77.629,71.386,77.629,2679105,0\n',
 '2000-03-22,76.659,81.638,73.62,80.625,2085359,0\n',
 '2000-03-23,80.501,83.539,78.981,80.799,2068327,0\n',
 '2000-03-24,80.16,81.68,78.476,81.007,1303922,0\n',
 '2000-03-27,79.786,80.666,76.408,77.122,897284,0\n',
 '2000-03-28,76.957,82.311,76.617,80.412,1475618,0\n',
 '2000-03-29,80.328,81.68,74.25,75.604,1324963,0\n',
 '2000-03-30,73.037,75.945,66.91,70.878,2155581,0\n',
 '2000-03-31,71.553,71.553,60.754,70.2,3955624,0\n',
 '2000-04-03,69.534,69.705,61.935,66.154,2152023,0\n',
 '2000-04-04,66.154,69.112,55.352,63.116,3729859,0\n',
 '2000-04-05,62.61,67.423,60.835,65.439,2234981,0\n',
 '2000-04-06,66.409,70.878,65.519,70.878,1457101,0\n',
 '2000-04-07,72.571,84.378,72.274,82.353,3152707,0\n',
 '2000-04-10,82.353,82.353,71.13,72.317,3132413,0\n',
 '2000-04-11,68.179,70.796,67.207,68.137,2009215,0\n',
 '2000-04-12,66.154,66.997,56.027,58.05,4611142,0\n',
 '2000-04-13,59.404,65.479,58.731,60.754,3959474,0\n',
 '2000-04-14,59.233,60.375,54.678,55.818,3033455,0\n',
 '2000-04-17,54.043,55.772,49.318,53.666,2922053,0\n',
 '2000-04-18,52.652,59.404,50.71,58.731,3982439,0\n',
 '2000-04-19,58.731,60.713,56.704,58.897,2568592,0\n',
 '2000-04-20,59.323,61.935,58.984,60.713,1539762,0\n',
 '2000-04-24,58.81,62.359,57.418,61.849,1799899,0\n',
 '2000-04-25,63.872,64.508,60.754,60.754,1190302,0\n',
 '2000-04-26,64.21,64.259,61.849,62.022,1034753,0\n',
 '2000-04-27,60.16,62.948,60.079,61.26,2417342,0\n',
 '2000-04-28,60.754,60.794,58.689,59.822,1885521,0\n',
 '2000-05-01,59.822,64.973,59.822,64.385,2008774,0\n',
 '2000-05-02,66.322,70.283,65.775,68.024,4513519,0\n',
 '2000-05-03,65.815,66.154,60.498,61.766,2466226,0\n',
 '2000-05-04,61.766,61.766,59.571,60.922,1259191,0\n',
 '2000-05-05,60.883,63.075,60.498,61.725,1338738,0\n',
 '2000-05-08,62.022,62.022,57.083,57.208,1142599,0\n',
 '2000-05-09,57.714,58.39,53.03,54.131,1821079,0\n',
 '2000-05-10,53.328,53.794,51.137,51.977,1696940,0\n',
 '2000-05-11,52.315,53.585,51.302,51.68,1782268,0\n',
 '2000-05-12,56.704,66.154,55.522,61.133,14375169,0\n',
 '2000-05-15,60.754,61.429,57.46,59.53,4707875,0\n',
 '2000-05-16,60.835,65.439,59.404,59.743,6115052,0\n',
 '2000-05-17,56.198,56.534,51.85,52.652,13193461,0\n',
 '2000-05-18,52.652,53.286,47.928,47.928,6520515,0\n',
 '2000-05-19,49.067,50.42,44.634,44.972,5574941,0\n',
 '2000-05-22,45.226,45.902,40.461,42.109,8287227,0\n',
 '2000-05-23,41.811,42.697,38.182,39.154,5525759,0\n',
 '2000-05-24,38.983,40.461,36.454,39.826,8431959,0\n',
 '2000-05-25,39.998,46.41,39.321,46.41,8136122,0\n',
 '2000-05-26,45.226,46.241,43.41,43.878,5251995,0\n',
 '2000-05-30,44.681,51.599,44.594,50.884,5657302,0\n',
 '2000-05-31,49.954,52.781,49.109,49.696,4671285,0\n',
 '2000-06-01,50.25,51.513,49.109,49.277,4183758,0\n',
 '2000-06-02,49.615,55.352,49.615,55.186,18105619,0\n',
 '2000-06-05,54.678,56.534,51.638,53.328,11278019,0\n',
 '2000-06-06,50.757,50.963,46.619,47.928,12907401,0\n',
 '2000-06-07,47.252,48.772,44.215,45.226,12103748,0\n',
 '2000-06-08,45.226,47.125,45.099,46.659,10142232,0\n',
 '2000-06-09,47.084,49.15,47.084,47.846,9823136,0\n',
 '2000-06-12,49.023,49.023,44.048,44.553,6013432,0\n',
 '2000-06-13,43.539,48.436,43.539,46.619,8178785,0\n',
 '2000-06-14,47.76,48.264,45.226,45.735,5945585,0\n',
 '2000-06-15,45.861,45.861,43.747,44.512,7203287,0\n',
 '2000-06-16,44.681,44.93,41.854,42.272,6874714,0\n',
 '2000-06-20,46.536,51.223,46.157,49.696,12417212,0\n',
 '2000-06-21,49.535,53.966,49.488,52.991,9513232,0\n',
 '2000-06-22,53.834,53.875,50.21,51.137,7135441,0\n',
 '2000-06-23,49.913,52.315,49.873,50.71,4206276,0\n',
 '2000-06-26,50.627,51.513,49.994,50.71,4052509,0\n',
 '2000-06-27,50.546,51.85,50.035,50.924,4355306,0\n',
 '2000-06-28,53.161,54.131,52.485,53.666,10485467,0\n',
 '2000-06-29,53.924,53.966,50.627,51.223,9177398,0\n',
 '2000-06-30,51.768,53.666,49.724,49.783,8774163,0\n',
 '2000-07-03,49.954,50.079,48.436,49.745,3386321,0\n',
 '2000-07-05,48.684,49.067,46.997,47.424,5722039,0\n',
 '2000-07-06,47.252,47.549,46.111,46.659,4452041,0\n',
 '2000-07-07,47.252,47.549,45.062,45.563,6349709,0\n',
 '2000-07-10,45.735,47.424,45.646,46.241,5682635,0\n',
 '2000-07-11,45.902,46.281,44.634,45.44,4425819,0\n',
 '2000-07-12,46.874,47.671,45.942,46.577,4018730,0\n',
 '2000-07-13,46.577,48.94,46.41,47.928,6188975,0\n',
 '2000-07-14,48.264,52.823,48.264,52.019,8057162,0\n',
 '2000-07-17,51.899,54.637,51.473,52.823,6533994,0\n',
 '2000-07-18,52.652,52.652,49.954,51.722,3879927,0\n',
 '2000-07-19,51.302,51.342,49.109,49.994,3750154,0\n',
 '2000-07-20,49.873,51.513,36.454,36.454,3763483,0\n',
 '2000-07-21,34.762,34.762,31.221,32.442,38615993,0\n',
 '2000-07-24,33.754,33.879,32.233,33.415,14821513,0\n',
 '2000-07-25,33.118,33.415,30.209,30.209,9680771,0\n',
 '2000-07-26,31.012,31.47,28.899,29.027,12064490,0\n',
 '2000-07-27,29.87,30.336,27.257,27.509,10437179,0\n',
 '2000-07-28,28.185,28.273,26.666,27.846,10190671,0\n',
 '2000-07-31,27.717,28.48,27.083,27.509,8533582,0\n',
 '2000-08-01,27.469,27.807,26.666,27.339,6284822,0\n',
 '2000-08-02,27.083,27.807,26.666,27.083,7151439,0\n',
 '2000-08-03,26.407,27.676,26.03,27.676,9104659,0\n',
 '2000-08-04,27.339,27.973,26.745,27.044,5459834,0\n',
 '2000-08-07,27.421,27.846,26.286,26.832,5892549,0\n',
 '2000-08-08,26.792,26.792,25.78,26.199,5421318,0\n',
 '2000-08-09,26.158,26.92,25.989,26.535,4959712,0\n',
 '2000-08-10,26.368,26.872,26.116,26.328,3310031,0\n',
 '2000-08-11,26.832,27.548,26.286,27.421,3635936,0\n',
 '2000-08-14,28.35,29.405,28.012,29.364,5866327,0\n',
 '2000-08-15,29.532,29.87,28.688,28.688,4755134,0\n',
 '2000-08-16,28.859,29.364,28.095,29.364,3328693,0\n',
 '2000-08-17,29.107,31.896,29.107,31.39,10101047,0\n',
 '2000-08-18,38.983,39.232,37.169,38.058,18844542,0\n',
 '2000-08-21,39.321,40.839,38.686,40.839,9087774,0\n',
 '2000-08-22,40.758,40.839,39.869,40.839,5268142,0\n',
 '2000-08-23,40.42,40.881,40.037,40.839,3458319,0\n',
 '2000-08-24,40.758,40.97,39.91,40.334,3211813,0\n',
 '2000-08-25,40.296,40.544,39.193,39.491,2589922,0\n',
 '2000-08-28,39.36,39.746,38.646,39.571,3930142,0\n',
 '2000-08-29,39.571,43.203,39.491,42.528,6367484,0\n',
 '2000-08-30,42.736,43.16,41.096,41.434,3666160,0\n',
 '2000-08-31,41.596,41.933,40.334,41.177,3687492,0\n',
 '2000-09-01,40.97,42.32,40.584,41.771,3325435,0\n',
 '2000-09-05,41.644,42.19,41.347,41.723,2166986,0\n',
 '2000-09-06,41.644,42.109,40.373,40.502,2368754,0\n',
 '2000-09-07,40.502,41.933,39.998,41.771,2249648,0\n',
 '2000-09-08,40.881,41.217,39.91,39.998,2136027,0\n',
 '2000-09-11,39.826,39.826,37.802,38.309,3156556,0\n',
 '2000-09-12,37.674,39.071,37.127,37.127,2999087,0\n',
 '2000-09-13,38.309,38.309,36.155,37.127,3733415,0\n',
 '2000-09-14,37.547,38.646,37.507,37.634,3782003,0\n',
 '2000-09-15,37.593,39.697,37.547,38.476,3997842,0\n',
 '2000-09-18,38.561,38.942,35.439,36.454,5012895,0\n',
 '2000-09-19,36.155,36.454,35.103,36.37,3388841,0\n',
 '2000-09-20,36.155,36.37,34.933,35.439,2085512,0\n',
 '2000-09-21,35.521,35.521,31.728,32.402,3104560,0\n',
 '2000-09-22,32.442,33.754,32.321,33.754,3650756,0\n',
 '2000-09-25,33.921,35.06,32.528,32.611,2530965,0\n',
 '2000-09-26,32.74,33.285,30.458,30.505,3232110,0\n',
 '2000-09-27,31.179,31.558,29.958,31.052,4150427,0\n',
 '2000-09-28,31.092,32.699,31.092,32.368,4476631,0\n',
 '2000-09-29,32.611,33.582,32.274,33.037,3896812,0\n',
 '2000-10-02,33.159,34.684,33.159,34.132,3187668,0\n',
 '2000-10-03,34.427,37.465,33.959,35.857,5887512,0\n',
 '2000-10-04,35.696,39.571,35.439,39.071,5861142,0\n',
 '2000-10-05,39.113,39.113,36.873,37.21,4237385,0\n',
 '2000-10-06,37.674,37.761,34.556,35.231,2958348,0\n',
 '2000-10-09,35.183,35.183,33.832,34.219,2290533,0\n',
 '2000-10-10,34.846,35.736,32.659,33.455,3274773,0\n',
 '2000-10-11,32.402,32.611,30.249,30.924,5857590,0\n',
 '2000-10-12,31.598,31.808,29.236,30.209,4425819,0\n',
 '2000-10-13,29.364,30.416,28.899,29.958,5378205,0\n',
 '2000-10-16,30.295,32.868,30.081,31.348,4405225,0\n',
 '2000-10-17,31.431,31.47,28.77,29.236,3055230,0\n',
 '2000-10-18,27.38,28.65,26.495,27.594,5974173,0\n',
 '2000-10-19,28.688,30.336,28.561,29.532,4874239,0\n',
 '2000-10-20,29.532,32.193,29.49,31.431,4931269,0\n',
 '2000-10-23,31.431,35.022,30.713,34.468,5335543,0\n',
 '2000-10-24,34.468,34.597,32.065,32.442,3831778,0\n',
 '2000-10-25,30.295,30.586,28.52,28.77,5582788,0\n',
 '2000-10-26,28.77,30.081,28.35,29.702,6759611,0\n',
 '2000-10-27,30.971,31.896,30.336,30.883,4797203,0\n',
 '2000-10-30,30.249,31.052,29.532,30.713,2881758,0\n',
 '2000-10-31,30.795,32.146,30.795,31.261,4146429,0\n',
 '2000-11-01,31.052,31.935,30.754,31.598,3600827,0\n',
 '2000-11-02,31.808,32.868,31.646,32.485,3637568,0\n',
 '2000-11-03,32.146,32.193,30.924,31.598,2518523,0\n',
 '2000-11-06,31.687,31.687,30.971,31.308,2506968,0\n',
 '2000-11-07,30.795,31.261,30.754,31.012,2322237,0\n',
 '2000-11-08,31.012,31.896,29.662,29.958,2528744,0\n',
 '2000-11-09,30.121,30.121,28.054,29.405,4204051,0\n',
 '2000-11-10,28.35,28.859,26.535,26.625,5255992,0\n',
 '2000-11-13,26.453,27.509,25.692,26.535,6333857,0\n',
 '2000-11-14,27.257,29.069,27.17,28.77,4188942,0\n',
 '2000-11-15,28.859,29.786,28.52,29.284,2553631,0\n',
 '2000-11-16,28.986,29.49,27.846,28.095,2939386,0\n',
 '2000-11-17,29.702,32.065,29.573,31.984,8337445,0\n',
 '2000-11-20,31.646,31.687,29.573,30.121,4388044,0\n',
 '2000-11-21,32.82,34.09,31.261,32.82,10703231,0\n',
 '2000-11-22,32.82,33.078,30.713,32.402,3887332,0\n',
 '2000-11-24,32.995,34.762,32.868,34.385,1850711,0\n',
 '2000-11-27,34.385,35.06,33.754,34.09,3174187,0\n',
 '2000-11-28,34.09,35.609,34.049,34.219,3751338,0\n',
 '2000-11-29,34.846,36.454,34.468,36.37,4646698,0\n',
 '2000-11-30,35.777,35.906,34.171,35.231,5258656,0\n',
 '2000-12-01,35.736,36.918,35.609,35.777,3845112,0\n',
 '2000-12-04,35.143,35.817,34.09,34.427,3067821,0\n',
 '2000-12-05,35.609,37.593,35.481,37.169,5798778,0\n',
 '2000-12-06,37.295,38.436,35.103,35.103,4627439,0\n',
 '2000-12-07,35.439,37.046,34.684,36.454,3242480,0\n',
 '2000-12-08,38.058,40.42,37.885,40.123,4673064,0\n',
 '2000-12-11,39.571,40.037,38.476,38.983,3371062,0\n',
 '2000-12-12,39.409,39.619,38.476,38.646,2261497,0\n',
 '2000-12-13,39.91,40.082,39.023,39.279,4339898,0\n',
 '2000-12-14,39.321,40.247,39.193,39.998,4500184,0\n',
 '2000-12-15,39.998,40.296,36.79,38.395,6411926,0\n',
 '2000-12-18,38.395,39.321,38.011,38.476,3606460,0\n',
 '2000-12-19,38.476,40.42,38.347,38.518,3474169,0\n',
 '2000-12-20,36.873,36.918,34.132,35.439,4978972,0\n',
 '2000-12-21,35.439,36.343,33.671,34.684,4263753,0\n',
 '2000-12-22,34.508,37.634,34.468,36.918,2711398,0\n',
 '2000-12-26,36.958,37.256,35.777,36.114,1673237,0\n',
 '2000-12-27,36.155,37.802,36.155,37.761,3972064,0\n',
 '2000-12-28,37.547,38.058,36.71,37.335,1868483,0\n',
 '2000-12-29,37.384,38.098,36.196,36.958,2192759,0\n',
 '2001-01-02,36.37,36.37,33.118,34.344,2396599,0\n',
 '2001-01-03,33.159,38.14,32.104,37.885,4771281,0\n',
 '2001-01-04,38.395,40.296,37.335,39.321,4660768,0\n',
 '2001-01-05,38.646,39.321,36.114,37.169,3472538,0\n',
 '2001-01-08,36.62,37.634,35.311,35.944,2408899,0\n',
 '2001-01-09,36.114,37.087,34.973,35.777,2621775,0\n',
 '2001-01-10,35.439,37.507,35.358,37.335,2549479,0\n',
 '2001-01-11,37.72,38.942,36.242,38.856,3726892,0\n',
 '2001-01-12,38.856,39.154,37.593,37.885,2701328,0\n',
 '2001-01-16,37.97,39.321,37.335,39.279,2756140,0\n',
 '2001-01-17,39.786,42.656,39.786,41.811,8883193,0\n',
 '2001-01-18,41.811,45.902,40.758,45.604,7394831,0\n',
 '2001-01-19,45.563,45.563,43.581,44.257,6554140,0\n',
 '2001-01-22,44.298,44.298,41.434,42.358,2990792,0\n',
 '2001-01-23,42.32,43.203,41.514,42.358,3250924,0\n',
 '2001-01-24,42.528,42.784,39.154,39.154,5599084,0\n',
 '2001-01-25,38.268,38.732,36.454,37.295,4539886,0\n',
 '2001-01-26,36.661,37.593,35.568,36.873,3952362,0\n',
 '2001-01-29,37.465,38.14,36.454,36.735,3233293,0\n',
 '2001-01-30,37.362,37.362,36.79,36.958,2532004,0\n',
 '2001-01-31,37.127,37.634,35.979,36.825,2707991,0\n',
 '2001-02-01,36.049,36.487,35.271,36.316,3698748,0\n',
 '2001-02-02,36.364,36.951,35.103,35.237,3201147,0\n',
 '2001-02-05,36.183,36.412,32.402,33.212,3919626,0\n',
 '2001-02-06,33.347,35.439,33.347,34.406,3436839,0\n',
 '2001-02-07,34.022,34.494,33.179,33.846,1880334,0\n',
 '2001-02-08,33.921,36.951,33.921,36.594,4375452,0\n',
 '2001-02-09,36.6,36.938,35.116,35.439,2589481,0\n',
 '2001-02-12,35.304,35.77,33.987,34.508,3194187,0\n',
 '2001-02-13,34.427,34.831,31.969,31.976,4651582,0\n',
 '2001-02-14,32.571,33.078,32.247,32.402,4558998,0\n',
 '2001-02-15,33.55,37.127,33.475,36.35,4190724,0\n',
 '2001-02-16,33.754,34.09,32.841,33.754,5303693,0\n',
 '2001-02-20,33.212,33.381,29.027,29.702,6726424,0\n',
 '2001-02-21,28.35,28.52,26.46,27.135,9922244,0\n',
 '2001-02-22,26.967,27.408,25.989,26.375,7120919,0\n',
 '2001-02-23,26.381,26.577,23.998,25.855,5731224,0\n',
 '2001-02-26,25.443,26.158,25.18,25.855,3944216,0\n',
 '2001-02-27,25.484,26.771,24.902,25.753,3863926,0\n',
 '2001-02-28,25.92,26.191,24.166,24.303,3741856,0\n',
 '2001-03-01,24.235,26.328,23.221,25.861,5394503,0\n',
 '2001-03-02,24.606,27.163,24.599,25.673,3636824,0\n',
 '2001-03-05,25.68,26.481,25.043,25.686,2154097,0\n',
 '2001-03-06,26.394,27.893,26.394,27.408,3960659,0\n',
 '2001-03-07,28.554,28.609,27.408,27.649,2899978,0\n',
 '2001-03-08,27.656,27.828,26.732,27.002,3007532,0\n',
 '2001-03-09,26.394,26.646,24.74,25.009,2989014,0\n',
 '2001-03-12,24.303,24.706,23.625,23.632,3607200,0\n',
 '2001-03-13,24.03,24.895,23.727,24.692,2807838,0\n',
 '2001-03-14,23.762,24.768,23.585,23.829,3905106,0\n',
 '2001-03-15,23.964,24.685,23.309,23.525,3054195,0\n',
 '2001-03-16,23.221,24.132,22.924,23.458,4393229,0\n',
 '2001-03-19,23.357,25.347,22.687,24.968,2549038,0\n',
 '2001-03-20,24.47,24.47,23.153,23.153,4475151,0\n',
 '2001-03-21,22.291,22.777,19.981,21.33,9195322,0\n',
 '2001-03-22,21.535,23.613,21.493,23.492,4879720,0\n',
 '2001-03-23,23.492,26.666,23.492,25.536,5377466,0\n',
 '2001-03-26,25.058,25.408,24.396,25.024,3090933,0\n',
 '2001-03-27,24.974,24.996,24.125,24.928,2855539,0\n',
 '2001-03-28,23.694,23.776,21.938,22.074,4512924,0\n',
 '2001-03-29,21.602,22.399,20.253,20.253,9264058,0\n',
 '2001-03-30,20.658,21.485,20.388,20.745,5702039,0\n',
 '2001-04-02,21.77,21.985,20.452,20.825,3722011,0\n',
 '2001-04-03,20.32,20.589,18.902,19.915,5386058,0\n',
 '2001-04-04,19.381,19.846,18.738,18.961,3040711,0\n',
 '2001-04-05,19.408,21.061,19.381,20.67,3550317,0\n',
 '2001-04-06,17.55,18.835,16.875,18.766,7804287,0\n',
 '2001-04-09,18.576,19.075,18.245,18.63,3066784,0\n',
 '2001-04-10,19.036,20.575,18.807,20.147,3146042,0\n',
 '2001-04-11,21.095,22.006,20.927,21.384,3529721,0\n',
 '2001-04-12,20.927,23.289,20.259,22.924,3536683,0\n',
 '2001-04-16,22.413,22.648,21.817,22.491,2303572,0\n',
 '2001-04-17,21.77,22.93,21.445,22.498,1911150,0\n',
 '2001-04-18,23.289,26.245,23.087,25.645,5291251,0\n',
 '2001-04-19,25.24,27.339,25.24,26.32,4118132,0\n',
 '2001-04-20,26.314,27.676,25.996,27.272,3780077,0\n',
 '2001-04-23,26.666,27.002,25.801,27.002,3041158,0\n',
 '2001-04-24,26.259,26.495,24.639,25.126,2863541,0\n',
 '2001-04-25,24.974,26.328,24.659,26.212,2471416,0\n',
 '2001-04-26,25.821,27.656,25.652,25.659,3148264,0\n',
 '2001-04-27,26.597,27.135,25.821,26.184,1815748,0\n',
 '2001-04-30,26.597,27.17,26.218,26.335,1790859,0\n',
 '2001-05-01,25.583,26.632,25.339,26.46,2270240,0\n',
 '2001-05-02,26.933,27.305,26.467,26.811,1908630,0\n',

In [20]:
def create_stock_df(stock):
    with open('Stocks/' + stock + ".us.txt") as f:
        lines = f.readlines()
        stock_data = pd.DataFrame(lines)
        f.close()
        
    
    stock_dict = {"Date":[], "Open":[], "High":[], "Low":[], "Close":[], "Volume":[]}
        
    for i in lines[1:]:
        
        #create variables by splitting and slicing data
        Date = i.split(",")[:][0]
        Open = i.split(",")[:][1]
        High = i.split(",")[:][2]
        Low = i.split(",")[:][3]
        Close = i.split(",")[:][4]
        Volume = i.split(",")[:][5]
        OpenInt = i.split(",")[:][6]
        
        #appending data to stock_dict keys
        stock_dict["Date"].append(Date)
        stock_dict["Open"].append(Open)
        stock_dict["High"].append(High)
        stock_dict["Low"].append(Low)
        stock_dict["Close"].append(Close)
        stock_dict["Volume"].append(Volume)
        
    stock_df = pd.DataFrame(stock_dict)
    stock_df = stock_df.set_index("Date")
    
    #adds average of open,high,low,and close
    stock_df["Average Price"] = stock_df.iloc[:,:3].astype(float).mean(axis=1)
    return stock_df

In [21]:
create_stock_df("a")

              Open    High     Low   Close    Volume  Average Price
Date
1999-11-18  30.713  33.754  27.002  29.702  66277506      30.489667
1999-11-19  28.986  29.027  26.872  27.257  16142920      28.295000
1999-11-22  27.886  29.702  27.044  29.702   6970266      28.210667
1999-11-23  28.688  29.446  27.002  27.002   6332082      28.378667
1999-11-24  27.083  28.309  27.002  27.717   5132147      27.464667
...            ...     ...     ...     ...       ...            ...
2017-11-06   68.22   68.45   68.22   68.22    995731      68.296667
2017-11-07   68.32   68.64   68.04   68.25    966466      68.333333
2017-11-08    68.1   68.33  67.771   68.11    972616      68.067000
2017-11-09   67.92   67.98   66.91   67.47   1673083      67.603333
2017-11-10   67.35   67.58    66.7   66.81   1704549      67.210000

[4521 rows x 6 columns]

In [45]:
import pandas as pd
import numpy as np
import talib

"""
TA Functions
Parameters
----------
df : DataFrame
timeperiod : int
    The last x amount of days

Returns
-------
Copy of dataframe we passed in plus a new column containing the respective indicator we called
"""

def add_ATR(df, timeperiod=1):
    temp = df.copy()
    temp['ATR_{}'.format(timeperiod)] = talib.ATR(df.iloc[:, 0], df.iloc[:, 0], df.iloc[:, 0], timeperiod=timeperiod)
    return temp

def add_RSI(df, timeperiod=1):
    temp = df.copy()
    temp['RSI_{}'.format(timeperiod)] = talib.RSI(df.iloc[:, 0], timeperiod=timeperiod)
    return temp

def add_SMA(df, timeperiod=1):

    temp = df.copy()
    temp['SMA_{}'.format(timeperiod)] = talib.SMA(df.iloc[:, 0], timeperiod)
    return temp

def add_EMA(df, timeperiod=1):

    temp = df.copy()
    temp['EMA_{}'.format(timeperiod)] = talib.EMA(df.iloc[:, 0], timeperiod)
    return temp

def add_OBV(df):
    
    temp = df.copy()
    temp['OBV'] = talib.OBV(df.iloc[:, 0], df["Volume"])
    return temp

In [46]:
stock_df = create_stock_df("a")

In [47]:
add_ATR(stock_df,14)

              Open    High     Low   Close    Volume  Average Price    ATR_14
Date
1999-11-18  30.713  33.754  27.002  29.702  66277506      30.489667       NaN
1999-11-19  28.986  29.027  26.872  27.257  16142920      28.295000       NaN
1999-11-22  27.886  29.702  27.044  29.702   6970266      28.210667       NaN
1999-11-23  28.688  29.446  27.002  27.002   6332082      28.378667       NaN
1999-11-24  27.083  28.309  27.002  27.717   5132147      27.464667       NaN
...            ...     ...     ...     ...       ...            ...       ...
2017-11-06   68.22   68.45   68.22   68.22    995731      68.296667  0.324857
2017-11-07   68.32   68.64   68.04   68.25    966466      68.333333  0.308796
2017-11-08    68.1   68.33  67.771   68.11    972616      68.067000  0.302453
2017-11-09   67.92   67.98   66.91   67.47   1673083      67.603333  0.293707
2017-11-10   67.35   67.58    66.7   66.81   1704549      67.210000  0.313442

[4521 rows x 7 columns]

In [26]:
add_RSI(stock_df,13)

              Open    High     Low   Close    Volume  Average Price     RSI_13
Date
1999-11-18  30.713  33.754  27.002  29.702  66277506      30.489667        NaN
1999-11-19  28.986  29.027  26.872  27.257  16142920      28.295000        NaN
1999-11-22  27.886  29.702  27.044  29.702   6970266      28.210667        NaN
1999-11-23  28.688  29.446  27.002  27.002   6332082      28.378667        NaN
1999-11-24  27.083  28.309  27.002  27.717   5132147      27.464667        NaN
...            ...     ...     ...     ...       ...            ...        ...
2017-11-06   68.22   68.45   68.22   68.22    995731      68.296667  65.422006
2017-11-07   68.32   68.64   68.04   68.25    966466      68.333333  66.300904
2017-11-08    68.1   68.33  67.771   68.11    972616      68.067000  62.513865
2017-11-09   67.92   67.98   66.91   67.47   1673083      67.603333  59.501417
2017-11-10   67.35   67.58    66.7   66.81   1704549      67.210000  51.060448

[4521 rows x 7 columns]

In [27]:
add_SMA(stock_df,13)

              Open    High     Low   Close    Volume  Average Price     SMA_13
Date
1999-11-18  30.713  33.754  27.002  29.702  66277506      30.489667        NaN
1999-11-19  28.986  29.027  26.872  27.257  16142920      28.295000        NaN
1999-11-22  27.886  29.702  27.044  29.702   6970266      28.210667        NaN
1999-11-23  28.688  29.446  27.002  27.002   6332082      28.378667        NaN
1999-11-24  27.083  28.309  27.002  27.717   5132147      27.464667        NaN
...            ...     ...     ...     ...       ...            ...        ...
2017-11-06   68.22   68.45   68.22   68.22    995731      68.296667  67.666154
2017-11-07   68.32   68.64   68.04   68.25    966466      68.333333  67.810769
2017-11-08    68.1   68.33  67.771   68.11    972616      68.067000  67.880000
2017-11-09   67.92   67.98   66.91   67.47   1673083      67.603333  67.916154
2017-11-10   67.35   67.58    66.7   66.81   1704549      67.210000  67.919231

[4521 rows x 7 columns]

In [28]:
add_EMA(stock_df,13)

              Open    High     Low   Close    Volume  Average Price     EMA_13
Date
1999-11-18  30.713  33.754  27.002  29.702  66277506      30.489667        NaN
1999-11-19  28.986  29.027  26.872  27.257  16142920      28.295000        NaN
1999-11-22  27.886  29.702  27.044  29.702   6970266      28.210667        NaN
1999-11-23  28.688  29.446  27.002  27.002   6332082      28.378667        NaN
1999-11-24  27.083  28.309  27.002  27.717   5132147      27.464667        NaN
...            ...     ...     ...     ...       ...            ...        ...
2017-11-06   68.22   68.45   68.22   68.22    995731      68.296667  67.661543
2017-11-07   68.32   68.64   68.04   68.25    966466      68.333333  67.755608
2017-11-08    68.1   68.33  67.771   68.11    972616      68.067000  67.804807
2017-11-09   67.92   67.98   66.91   67.47   1673083      67.603333  67.821263
2017-11-10   67.35   67.58    66.7   66.81   1704549      67.210000  67.753940

[4521 rows x 7 columns]

In [30]:
add_OBV(stock_df)

,Open,High,Low,Close,Volume,Average Price,OBV
Date,,,,,,,
1999-11-18,30.713,33.754,27.002,29.702,66277506,30.489667,66277506.0
1999-11-19,28.986,29.027,26.872,27.257,16142920,28.295000,50134586.0
1999-11-22,27.886,29.702,27.044,29.702,6970266,28.210667,43164320.0
1999-11-23,28.688,29.446,27.002,27.002,6332082,28.378667,49496402.0
1999-11-24,27.083,28.309,27.002,27.717,5132147,27.464667,44364255.0
...,...,...,...,...,...,...,...
2017-11-06,68.22,68.45,68.22,68.22,995731,68.296667,644836243.0
2017-11-07,68.32,68.64,68.04,68.25,966466,68.333333,645802709.0
2017-11-08,68.1,68.33,67.771,68.11,972616,68.067000,644830093.0
2017-11-09,67.92,67.98,66.91,67.47,1673083,67.603333,643157010.0
2017-11-10,67.35,67.58,66.7,66.81,1704549,67.210000,641452461.0

In [43]:
def add_ta(df, timeperiod):
    df = add_ATR(df,timeperiod)
    df = add_RSI(df,timeperiod)
    df = add_SMA(df,timeperiod)
    df = add_EMA(df,timeperiod)
    df = add_OBV(df)
    
    return df

In [44]:
add_ta(stock_df,14)

,Open,High,Low,Close,Volume,Average Price,ATR_14,RSI_14,SMA_14,EMA_14,OBV
Date,,,,,,,,,,,
1999-11-18,30.713,33.754,27.002,29.702,66277506,30.489667,NaN,NaN,NaN,NaN,66277506.0
1999-11-19,28.986,29.027,26.872,27.257,16142920,28.295000,NaN,NaN,NaN,NaN,50134586.0
1999-11-22,27.886,29.702,27.044,29.702,6970266,28.210667,NaN,NaN,NaN,NaN,43164320.0
1999-11-23,28.688,29.446,27.002,27.002,6332082,28.378667,NaN,NaN,NaN,NaN,49496402.0
1999-11-24,27.083,28.309,27.002,27.717,5132147,27.464667,NaN,NaN,NaN,NaN,44364255.0
...,...,...,...,...,...,...,...,...,...,...,...
2017-11-06,68.22,68.45,68.22,68.22,995731,68.296667,0.324857,65.241183,67.574286,67.609917,644836243.0
2017-11-07,68.32,68.64,68.04,68.25,966466,68.333333,0.308796,66.045201,67.712857,67.704595,645802709.0
2017-11-08,68.1,68.33,67.771,68.11,972616,68.067000,0.302453,62.613751,67.831429,67.757316,644830093.0
2017-11-09,67.92,67.98,66.91,67.47,1673083,67.603333,0.293707,59.872804,67.882857,67.779007,643157010.0
2017-11-10,67.35,67.58,66.7,66.81,1704549,67.210000,0.313442,52.095671,67.875714,67.721806,641452461.0